doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.min.css')
	body
		block content
	script(src="https://use.fontawesome.com/076a233231.js")
	script(src="/js/app.min.js")
